* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #7b2ff7, #f107a3, #4df3ff, #32b6c0);
  background-size: 400% 400%;
  animation: mudarCor 12s ease infinite;
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

/* ANIMAÇÃO DO FUNDO */
@keyframes mudarCor {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 50%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  background: rgba(255, 255, 255, 0.15);
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 350px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  padding: 8px 15px;
  background: #4df3ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #32b6c0;
}

ol {
  margin-top: 10px;
  padding-left: 20px;
}
